body {
  margin: 0;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #111;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.left img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.right a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: opacity .2s;
}

.right a:hover {
  opacity: 0.6;
}

main {
    margin: 0px;
}

p {
    margin-left: 10px;
}

h2 {
    margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h4 {
    font-size: 15px;
    color: rgb(102, 102, 102);
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 0px;
    font-style: oblique;
    margin-left: 10px;
}

small {
    margin-top: 0px;
    font-size: 12px;
    color: rgb(102, 102, 102);
}

small p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
}

.seccion {
    padding: 20px;
    font-size: 20px;
}

.seccion:nth-child(even) {
    background-color: rgba(89, 235, 89, 0.651);
}

.separacion {
    list-style: none;
    padding: 0;
    margin: 0;
}

.separacion li {
    width: 100%;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 20px;
}

.separacion li:nth-child(odd) {
    background: rgba(171, 171, 171, 0.216);
}

.diferenciado {
    list-style: none;
    padding: 0;
    margin: 0;
}

.diferenciado li {
    width: 100%;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 20px;
}

.diferenciado li:nth-child(odd) {
    background: rgba(89, 235, 89, 0.431);
}

.diferenciado li:nth-child(even) {
    background: rgba(89, 235, 89, 0.100);
}